/* this file will be used for only css code */
h1{
    color: red;
    font-size: 30px;
    font-family: arial-black;
    background-color: beige;
}
p{
    text-align: justify; 
    background-color:lightblue
}
h2{
    color: #00ff00; 
    font-size: 2em; 
    font-family: cursive; 
    text-align:end
}
h3{
    font-size: 120%; 
    text-align:center;
    color: rgba(186, 62, 211, 0.324)
}
.yb{
    color:black; 
    font-size: 45px; 
    font-family: courier; 
    background-color:lightgoldenrodyellow; 
    text-align:center
}
#hf{
    color:#00ff00;
    background-color: bisque;
    font-size: 25px;
}

.my-style{
    color:purple;
    font-size: 30px;
    background-color: beige;
}

.img-1{
    width: 300px;
    height: 300px;
    border: 5px solid;
    color: red;
    border-radius: 50%;
    padding: 50px;
}

body{
    background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjU0NmJhdGNoMy1teW50LTMxLWJhZGdld2F0ZXJjb2xvcl8xLmpwZw.jpg?s=kjTI4a00C2b9nAOvH5hat5JfydrZquKTl-nMyOGIebE");
    background-repeat: repeat;
}
table,th{
    font-size: 40px;
    border: 3px solid red;
    background-color: lightgray;
    border-spacing: 10px; 
}
th{
    background-color: darkgray;  
}
td{
    border: 3px solid purple;
    color: darkgreen;
}

iframe{
    width: 100%;
    height: 600px;
}


#heading-section{
    background-color: gray;
    width: 250px;
    margin-left: 300px;
}

.footer-class{
   color: white;
   background-color: grey;
   text-align: center;
   width: 100%;
   height: 100%;
   position: relative;
}

span{
    margin-left: 50px;
}